.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(45px);
  background: rgba(28, 20, 16, 0.05); 
  margin: 20px 20px 0 20px;
  border: 1px solid #3b2e28;
  border-radius: 25px 25px 0 0;
  z-index: 2;
}

.header__container {
  display: flex;
  align-items: center;
  padding: 0 50px;
  width: 100%;
}

.header__top {
  padding: 17px 0 15px 0;
}

.header__top-container {
  justify-content: flex-start;
}

.header__socials {
  margin-left: auto;
  margin-right: auto;
  gap: 55px;
}

.header__shedule {
  margin-right: 71px;
}

.header__bottom {
  padding: 25px 0 24px 0;
  border-top: 1px solid #3b2e28;
}

.header__nav {
  margin: 0 auto;
  width: 41%;
}

.header__nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
}

.header__nav-link {
  font-weight: 600;
  font-size: 15px;
  line-height: 1.13;
  opacity: .55;
  transition: opacity .2s linear;
}

.header__nav-link:hover {
  opacity: 1;
}

.header__tell {
  font-weight: 600;
  font-size: 25px;
  text-transform: uppercase;
  margin-right: 54px;
}

.header__tell-icon {
  display: none;
}

.header__sign {
  font-weight: 600;
  font-size: 14px;
  border: 1px solid #3b2e28;
  border-radius: 100px;
  padding: 15px 25px;
  backdrop-filter: blur(55px);
  background: rgba(58, 43, 36, 0.35);
  padding: 13px 42px;
}

@media (max-width: 1500px) {
  .header {
    margin: 10px 10px 0 10px;
  }

  .header__container {
    padding: 0 35px;
  }

  .header__nav {
    width: max-content;
  }
}

@media (max-width: 1260px) {
  .header__logo {
    width: 120px;
    height: 30px;
  }

  .header__shedule {
    margin-right: 45px;
  }

  .header__nav-list {
    gap: 25px;
  }

  .header__nav-link {
    font-size: 13px;
  }

  .header__tell {
    font-size: 20px;
    margin-right: 35px;
  }
}

@media (max-width: 1100px) {
  .header__socials {
    gap: 30px;
  }

  .header__tell {
    margin-right: 20px;
  }

  .header__sign {
    font-size: 13px;
    padding: 13px 25px;
  }
}

@media (max-width: 1023px) {
  .header__tell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 0;
    border-radius: 50%;
    background: rgba(58, 43, 36, 0.15);
    backdrop-filter: blur(35px);
    border: 1px solid #3b2e28;
  }

  .header__tell-icon {
    display: block;
  }

  .header__sign {
    padding: 16px 25px;
  }
}