.services__glare_left {
  bottom: 140px;
  left: -115px;
}

.services__glare_right {
  top: 220px;
  right: 5px;
}

.services__bodysoft {
  position: absolute;
  top: 168px;
  right: -212px;
}

.services__title {
  margin-bottom: 50px;
}

.services__list {
  display: flex;
  --gap: 20px;
  --cart-count: 3;
  gap: var(--gap);
}

.services__item {
  position: relative;
  overflow: hidden;
  flex-basis: calc(100% / var(--cart-count) - (var(--gap) * (var(--cart-count) - 1)) / var(--cart-count));
  padding: 20px;
  border: 1px solid #322521;
  border-radius: 25px;
  background: #0c0907;
}

.services__item-wrapper {
  position: relative;
  z-index: 3;
}

.services__item-img {
  border-radius: 20px;
  margin-bottom: 30px;
}

.services__item-content {
  padding: 0 25px;
}

.services__item-title {
  font-size: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 9px;
}

.services__item-text {
  font-size: 16px;
  line-height: 1.25;
  opacity: .55;
  margin-bottom: 20px;
}

.services__item-data {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.services__item-data__icon {
  margin-right: 10px;
}

.services__item-price {
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.services__item-btn {
  width: 100%;
}

.services__item-glare {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  filter: blur(140px);
}

@media (max-width: 1024px) {
  .services__item {
    padding: 15px;
  }

  .services__item-title {
    font-size: 17px;
  }

  .services__item-text {
    font-size: 14px;
  }
}

@media (max-width: 900px) {
  .services__list {
    flex-direction: column;
    align-items: center;
    --cart-count: 1;
  }

  .services__item {
    flex-basis: auto;
    max-width: 400px;
  }

  .services__item-img {
    width: 100%;
  }

  .services__item-title {
    font-size: 20px;
  }

  .services__item-text {
    font-size: 15px;
  }
}

@media (max-width: 420px) {
  .services__item-img {
    margin-bottom: 23px;
  }

  .services__item-content {
    padding: 0;
  }

  .services__item-title {
    font-size: 17px;
  }
}