:root {
  position: relative;
  overflow-x: hidden;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.25;
  color: var(--main-color);
  background-color: var(--body-bg);
}

body::-webkit-scrollbar-track {
  background: #0c0907;
}

body::-webkit-scrollbar-button {
  background-image: url('');
  background-repeat: no-repeat;
  width: 18px;
  height: 0
}

body::-webkit-resizer {
  background-image: url('');
  background-repeat: no-repeat;
  width: 18px;
  height: 0
}

body::-webkit-scrollbar {
  width: 18px
}

body::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 10px;
  cursor: pointer
}

body::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-color)
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}

button {
  font-family: inherit;
  color: inherit;
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

iframe {
  border: none;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.swiper-slide {
  box-sizing: border-box;
}

.swiper-button-prev, .swiper-button-next {
  width: 65px;
  height: 65px;
  border: 1px solid #3b2e28;
  border-radius: 15px;
  backdrop-filter: blur(45px);
  background: rgba(228, 218, 203, 0.05);
  color: inherit;
}

.swiper-button-prev:after, .swiper-button-next:after {
  font-size: 16px;
}

.swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
  opacity: 1;
}

.swiper-button-prev.swiper-button-disabled:after, .swiper-button-next.swiper-button-disabled:after {
  opacity: .35;
}

.container {
  position: relative;
  max-width: 1208px;
  padding: 0 24px;
  margin: 0 auto;
  height: 100%;
  z-index: 3;
}

.section {
  position: relative;
  padding: 60px 0;
}

.section__title {
  font-weight: 500;
  font-size: 45px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  max-width: 660px;
  margin-bottom: 70px;
}

.btn {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  padding: 21px 31px;
  border-radius: 100px;
}

.btn_main {
  color: var(--second-color);
  background: var(--main-color);
  border: 1px solid var(--main-color);
  transition: all .2s linear;
}

.btn_main:hover {
  color: var(--main-color);
  background: rgba(228, 218, 203, 0.05);
  backdrop-filter: blur(45px);
}

.more-btn {
  width: 100%;
  margin-top: 25px;
}

.glare {
  position: absolute;
  width: 247px;
  height: 247px;
  filter: blur(185.7px);
  background: #423123;
  z-index: 2;
}

.glare_size_big {
  width: 399px;
  height: 399px;
  filter: blur(180px);
}

.address {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 13px;
  line-height: 1.31;
  opacity: .45;
}

.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials__link {
  opacity: .45;
  transition: opacity .2s linear;
}

.socials__link:hover {
  opacity: 1;
}

.shedule {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.31;
  opacity: .45;
}

.language-switcher__btn {
  display: flex;
  align-items: center;
  gap: 10px;
}

.accordion__item {
  position: relative;
  background: #0c0907;
  border-radius: 25px;
  overflow: hidden;
  border: 1px solid #3b2e28;
}

.accordion__item-glare {
  filter: blur(154px);
}

.accordion__item-glare_size_small {
  bottom: -135px;
  right: 50px;
}

.accordion__item:not(:last-of-type) {
  margin-bottom: 20px;
}

.accordion__item-btn {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  width: 100%;
  text-align: left;
  padding: 25px;
  z-index: 3;
}

.accordion__item-title {
  padding-right: 20px;
}

.accordion__item-btn__icon {
  display: flex;
  flex-shrink: 0;
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid #3b2e28;
  border-radius: 50%;
  backdrop-filter: blur(45px);
  background: rgba(228, 218, 203, 0.05);
}

.accordion__item-btn__icon::before, .accordion__item-btn__icon::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 1px;
  background: #FFFFFF;
}

.accordion__item-btn__icon::after {
  transform: translate(-50%, -50%) rotate(90deg);
  transition: width .2s linear;
}

.accordion__item-btn[aria-expanded=true] .accordion__item-btn__icon::after {
  width: 0;
}

.accordion__item-content {
  position: relative;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity .2s linear, max-height .2s linear;
  will-change: opacity, max-height;
  z-index: 3;
}

.accordion__item-btn[aria-expanded=true] + .accordion__item-content {
  opacity: 1;
  max-height: 30em;
  transition: all .2s linear;
  will-change: opacity, max-height;
}

.accordion__item-text {
  margin: 0 25px 25px 25px;
}

/* .section__title {
  padding: 0 15px;
} */

@media (max-width: 1024px) {
  .container {
    padding: 0 35px;
  }

  .section__title {
    font-size: 40px;
  }
}

@media (max-width: 767px) {
  .section__title {
    font-size: 35px;
    margin-bottom: 50px;
  }
}

@media (max-width: 560px) {
  .section__title {
    font-size: 30px;
    margin-bottom: 25px;
  }
}

@media (max-width: 540px) {
  .swiper-button-prev, .swiper-button-next {
    width: 55px;
    height: 55px;
  }
  
  .swiper-button-prev:after, .swiper-button-next:after {
    font-size: 13px;
  }

  .accordion__item-btn {
    font-size: 16px;
  }

  .accordion__item-content {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .section__title {
    font-size: 25px;
  }

  .accordion__item-btn {
    font-size: 14px;
  }

  .accordion__item-content {
    font-size: 12px;
  }
}